.ticket {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .top-content {
    display: flex;
    justify-content: space-between;
    .ticket-id {
      color: #a3a3a3;
    }
  }
  .ticket-title {
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 80%;
    margin-top: 10px;
  }
}
